__pycache__
__pycache__/dara.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/Login.cpython-311.pyc
__pycache__/report.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__/report.cpython-311.pyc
msedgedriver.exe
*.pyc
__pycache__/Login.cpython-311.pyc
__pycache__/report.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/report.cpython-311.pyc
__pycache__/Login.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__/report.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__
__pycache__/dara.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/Login.cpython-311.pyc
__pycache__/report.cpython-311.pyc
__pycache__/dara.cpython-311.pyc
__pycache__/dataManagment.cpython-311.pyc
__pycache__/Login.cpython-311.pyc
download/Isatis Pooya.csv
public/invoice.png
tt.txt
*.exe
msedgedriver.exe
edge_profile/First Run
